:root{

  --green:#006600;
  --green-light:#008000;
  --green-pale:#e8f5e8;

  --red:#BB0000;
  --red-pale:#fdecea;

  --black:#111111;
  --white:#ffffff;

  --gray-900:#222;
  --gray-700:#444;
  --gray-500:#777;
  --gray-300:#cccccc;
  --gray-100:#f2f2f2;

  --shadow:
  0 10px 30px rgba(0,0,0,.08);

  --radius:16px;

  --container:1280px;

}